.menu-link h2 {
    font-weight: bold; 
    color: black;  
    transition: color 0.3s ease; 
  }

  .menu-link:link{
    text-decoration: none;
  }
  
  .menu-link h2:hover {
    color: rgb(116, 115, 115); 
    
  }

  .space {
    display: flex;
    flex-direction: column; 
    gap: 1.5rem; 
    padding: 1rem; 
  }